@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Chatter!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response"></div>
<input type="text"  />
<button id="PostChats" class="btn btn-primary">Post Chats</button>
<button id="getChats" class="btn btn-primary">Get Chats</button>

@section Scripts {
    <script>
        $("#getChats").click(
                     function () {
                         $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                             var jsonTest = JSON.parse(serverResponse);
                             //console.log(jsonTest);
 
                             var ul = $("<ul>", { id: "messageList", "class": "bg-primary" });
                             ul.click(function () { alert("ul was clicked!"); });
                             $("#response").append(ul);
 
                             $.each(jsonTest, function (inx, val) {
                                 var myBgClass = ["bg-info","bg-warning"];
                                 var li = $("<li>", { id: "li" + inx, "class": myBgClass[inx % 2] });
                                 li.text(val.Message);
                                 li.click(function () { alert("my index is " + inx); });
                                 ul.append(li); //similar to $("#messageList").append(li), but more
                                 //efficient b/c it doesn't need to query for the list
                                 //again.
 
                             });
                         })
                     }
           );
        $("#PostChats").click(function(){

            $.post("@Url.Action("PostChats","Chats")");
        });

       
    </script>
}
